.conversation__item
  display: flex
  background-color: $lightest-gray
  cursor: pointer

  padding: $space-s

  &:hover
    background-color: $light-gray

.conversation__item--active
  background: $chrome-gray

  &:hover
    background: $silver-gray

.conversation__item--unread
  background: $mint

.conversation__item__avatar
  +flex-centered
  +square(#{$space-xxl})

.conversation__item__content
  display: none

  @media(min-width: 440px)
    display: block
    max-width: calc(100% - #{$space-xxl})
    position: relative
    padding-top: $space-xs
    padding-left: $space-xs
    border-bottom: $light-gray

.conversation__item__username
  text-transform: capitalize
  margin-bottom: $space-s

  font-size: $space-m
  color: $black

.conversation__item__preview
  color: rbga($black, 0.6)
  white-space: nowrap
  text-overflow: ellipsis
  overflow: hidden
