.alert
  border-radius: $space-xs
  border-style: solid
  border-width: 1px
  display: flex
  overflow: hidden
  width: 100%

.alert--error
  border-color: $primary-error
  background: $secondary-error

.alert--warning
  border-color: $primary-warning
  background: $secondary-warning

.alert--success
  border-color: $primary-success
  background: $secondary-success

.alert__icon__wrapper
  width: $space-xxl
  +flex-centered

.alert__icon__wrapper--error
  background: $primary-error

.alert__icon__wrapper--warning
  background: $primary-warning

.alert__icon__wrapper--success
  background: $primary-success

.alert__icon
  +square(#{$space-st})

.alert__message
  padding: $space-m
  flex-grow: 1

.alert__icon--error,
.alert__message--error
  fill: $white
  color: $white

.alert__icon--warning,
.alert__icon--success,
.alert__message--warning,
.alert__message--success
  fill: $black-gray
  color: $black-gray
