@function text-color($color)
  @if (lightness($color) > 50)
    @return $black
  @else
    @return $white

.color
  +square($space-xxj)
  +flex-centered
  margin: $space-s
  border: 1px solid $black

.color--turquoise
  color: text-color($turquoise)
  background: $turquoise

.color--dark-turquoise
  color: text-color($dark-turquoise)
  background: $dark-turquoise

.color--light-turquoise
  color: text-color($light-turquoise)
  background: $light-turquoise

.color--cerise-red
  color: text-color($cerise-red)
  background: $cerise-red

.color--mint
  color: text-color($mint)
  background: $mint

.color--dark-mint
  color: text-color($dark-mint)
  background: $dark-mint

.color--brick
  color: text-color($brick)
  background: $brick

.color--yellow-sun
  color: text-color($yellow-sun)
  background: $yellow-sun

.color--black
  color: text-color($black)
  background: $black

.color--black-gray
  color: text-color($black-gray)
  background: $black-gray

.color--galaxy-gray
  color: text-color($galaxy-gray)
  background: $galaxy-gray

.color--dark-gray
  color: text-color($dark-gray)
  background: $dark-gray

.color--space-gray
  color: text-color($space-gray)
  background: $space-gray

.color--star-gray
  color: text-color($star-gray)
  background: $star-gray

.color--chrome-gray
  color: text-color($chrome-gray)
  background: $chrome-gray

.color--silver-gray
  color: text-color($silver-gray)
  background: $silver-gray

.color--light-gray
  color: text-color($light-gray)
  background: $light-gray

.color--lightest-gray
  color: text-color($lightest-gray)
  background: $lightest-gray

.color--white
  color: text-color($white)
  background: $white

.color--primary-success
  color: text-color($primary-success)
  background: $primary-success

.color--secondary-success
  color: text-color($secondary-success)
  background: $secondary-success

.color--primary-error
  color: text-color($primary-error)
  background: $primary-error

.color--secondary-error
  color: text-color($secondary-error)
  background: $secondary-error

.color--primary-warning
  color: text-color($primary-warning)
  background: $primary-warning

.color--secondary-warning
  color: text-color($secondary-warning)
  background: $secondary-warning
