.header__container
  border-bottom: 1px solid $black
  box-sizing: border-box

  display: flex
  justify-content: flex-end

  height: $space-j

.header__icon
  +square(#{$space-st})

.header__icon--clickable
  cursor: pointer

.header__text
  padding: $space-st $space-m
