.home__container
  flex: 1 0 auto

.home__container__item
  border-right: 1px solid $black
  height: calc(100vh - #{$space-j})
  overflow-y: auto

  width: $space-j

  @media(min-width: 440px)
    width: calc(#{$space-xxj} * 3)

.home__user__search__toggler
  +flex-centered
  height: $space-j
  cursor: pointer
  background: $lightest-gray

  &:hover
    background: $light-gray
