.login__container,
.login__card,
.login__card__item
  +flex-centered

.login__container,
.login__card
  height: 100vh

.login__card,
.login__card__item,
.login__input,
.login__label,
.login__button
  width: 100%

.login__card
  @media(min-width: 600px)
    border: 1px solid $black
    border-radius: $space-s
    +rectangle(40vh, 60vh)

.login__card__item
  padding-left: $space-m
  padding-right: $space-m

.login__input
  min-width: 0
  padding: $space-s $space-j $space-s $space-m

.login__button
  border-radius: $space-m
  border-style: solid
  height: $space-xxl
  background-color: $light-gray

  &:hover
    background-color: $silver-gray
    cursor: pointer
