.tools__icon--with-text-container
  +flex-centered
  flex-direction: column
  +rectangle($space-xxl, $space-j)

.tools__icon--with-text-right
  align-self: flex-end
  border-left: 1px solid $black

.tools__container--column
  display: flex
  flex-direction: column

.tools__container--row
  display: flex
  flex-direction: row
