.chat__container
  display: flex
  flex-direction: column
  flex-grow: 2
  height: calc(100vh - #{$space-j})

  max-width: calc(100% - #{$space-j})

  @media(min-width: 440px)
    max-width: calc(100% - #{$space-xxj} * 3)

.chat__container--history
  border-bottom: 1px solid $black
  padding: 5% 9% 5%
  overflow-y: auto
  max-width: 100%
