.chat__input__container
  +flex-centered
  padding: $space-m 0

.chat__input__textarea
  resize: none
  flex: 1 1 0
  min-width: 0
  padding: $space-s

.chat__input__icon
  padding: $space-m
  +square(#{$space-st})

.chat__input__icon--left
  margin-right: $space-s

.chat__input__icon--right
  margin-left: $space-s
