.chat__item
  display: flex
  margin-bottom: $space-s
  max-width: 50%

.chat__item__text
  white-space: pre-wrap

.chat__item__aligner--local
  justify-content: flex-end

.chat__item__aligner--remote
  justify-content: flex-start

.chat__item--local,
.chat__item--remote
  min-width: 110px
  padding: $space-s
  border-radius: $space-s

.chat__item--local:after,
.chat__item--remote:before
  content: ""
  width: $space-m
  height: $space-m

.chat__item--local
  align-self: flex-end
  background-color: $mint
  border-top-right-radius: 0

  &:after
    transform: translate(#{$space-st}, -#{$space-s})
    background-image: linear-gradient(to bottom right, $mint, $mint 50%, transparent 50%, transparent 100%)

.chat__item--remote
  align-self: flex-start
  background-color: $chrome-gray
  border-top-left-radius: 0

  &:before
    transform: translate(-#{$space-st}, -#{$space-s})
    background-image: linear-gradient(to bottom left, $chrome-gray, $chrome-gray 50%, transparent 50%, transparent 100%)
