<template>
  <div :class="`alert--${type}`" class="alert">
    <div :class="`alert__icon__wrapper--${type}`" class="alert__icon__wrapper">
      <icon :class="`alert__icon--${type}`" class="alert__icon"/>
    </div>

    <div :class="`alert__message--${type}`" class="alert__message">
      {{ message }}
    </div>
  </div>
</template>

<script>
const VALID_TYPES = ['error', 'warning', 'success']

import Icon from '~/assets/media/icons/i-smile.svg'

export default {
  components: {
    Icon,
  },

  props: {
    type: {
      type: String,
      default: 'error',
      validator: t => VALID_TYPES.includes(t),
    },
    message: {
      type: String,
      required: true,
    },
  },
}
</script>
