<template>
  <img v-if="imageUrl" :src="imageUrl" class="avatar">
  <smile-icon v-else class="avatar"/>
</template>

<script>
import SmileIcon from '~/assets/media/icons/i-smile.svg'

export default {
  components: {
    SmileIcon,
  },

  props: {
    imageUrl: {
      type: String,
      required: false,
      default: null,
    },
  },
}
</script>
