<template>
  <header class="header__container">
    <div class="header__text">Logado como {{ username }}</div>

    <icon-with-text text="Sair" class="tools__icon--with-text-right" @click.native="logout()">
      <exit-icon class="header__icon"/>
    </icon-with-text>
  </header>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

import ExitIcon from '~/assets/media/icons/i-exit.svg'
import IconWithText from '~/components/icon-with-text'

export default {
  components: { ExitIcon, IconWithText },

  computed: {
    ...mapGetters('user', ['username']),
  },

  methods: {
    ...mapActions('auth', ['invalidateToken']),

    logout() {
      this.invalidateToken()
      this.$router.push('/login')
    },
  },
}
</script>
