<template>
  <div class="tools__icon--with-text-container header__icon--clickable border-rounded">
    <slot/>
    <span>{{ text }}</span>
  </div>
</template>

<script>
export default {
  props: {
    iconName: { type: String, default: '' },
    text: { type: String, default: '' },
  },
}
</script>
