<template>
  <div class="chat__container">
    <div ref="chatList" class="chat__container chat__container--history">
      <item v-for="message in messages" :key="message.id" :message="message"/>
    </div>
    <chat-input v-if="Object.keys(selectedChat).length !== 0"/>
  </div>
</template>

<script>
import Item from '~/components/chat/item'
import ChatInput from '~/components/chat/input'

import { mapGetters } from 'vuex'

export default {
  components: {
    Item,
    ChatInput,
  },

  computed: {
    ...mapGetters('chat', ['selectedChat']),
    messages() {
      return this.selectedChat.messages
    },
  },

  watch: {
    messages() {
      // Scroll chatList to bottom
      const self = this
      this.$nextTick(() => {
        const chatList = self.$refs.chatList
        chatList.scrollTop = chatList.scrollHeight
      })
    },
  },
}
</script>
