<template>
  <footer class="chat__input__container">
    <smile-icon class="chat__input__icon chat__input__icon--left"/>

    <textarea
      ref="textArea"
      v-model="text"
      class="chat__input__textarea"
      autocomplete="off"
      placeholder="Mensagem"
      @keyup.enter="submit"/>

    <send-icon class="chat__input__icon chat__input__icon--right" @click="submit"/>
  </footer>
</template>

<script>
import Api from '~/assets/js/api'

import SmileIcon from '~/assets/media/icons/i-smile.svg'
import SendIcon from '~/assets/media/icons/i-send.svg'

import { mapGetters } from 'vuex'

export default {
  components: {
    SendIcon,
    SmileIcon,
  },

  data: () => ({
    text: '',
  }),

  computed: {
    ...mapGetters('user', ['username']),
    ...mapGetters('chat', ['selectedChat']),
  },

  methods: {
    submit() {
      Api.sendMessage(this.text, this.selectedChat.id)
      this.text = ''
    },
  },
}
</script>
