<template>
  <div :class="alignerClass" class="chat__item">
    <div class="chat__item__text">
      <span>{{ message.message_body }}</span>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  props: {
    message: {
      type: Object,
      required: true,
    },
  },

  computed: {
    ...mapGetters('user', ['username']),

    origin() {
      if (this.message.username === this.username) {
        return 'local'
      }

      return 'remote'
    },

    alignerClass() {
      return `chat__item__aligner--${this.origin} chat__item--${this.origin}`
    },
  },
}
</script>
