<template>
  <div class="conversation__item" @click="createChatAndReturn(data.id)">
    <div class="conversation__item__avatar">
      <avatar/>
    </div>

    <div class="conversation__item__content">
      <div class="conversation__item__username">{{ data.username }}</div>
    </div>
  </div>
</template>

<script>
import Avatar from '~/components/avatar'
import { mapActions } from 'vuex'

export default {
  components: {
    Avatar,
  },

  props: {
    data: {
      type: Object,
      required: true,
    },
  },

  methods: {
    ...mapActions('chat', ['createChat']),
    ...mapActions('search', ['disableSearch']),

    createChatAndReturn(userId) {
      this.createChat(userId)
      this.disableSearch()
    },
  },
}
</script>
