<template>
  <div>
    <item v-for="user in users" :key="user.id" :data="user"/>
  </div>
</template>

<script>
import Item from '~/components/search/item'

export default {
  components: {
    Item,
  },

  props: {
    users: {
      type: Array,
      required: true,
    },
  },
}
</script>
