<template>
  <div>
    <input
      v-model="query"
      type="text"
      placeholder="Buscar usuário"
      class="user__search__input">

    <result-list :users="searchResults"/>
  </div>
</template>

<script>
import _ from 'lodash'
import Api from '~/assets/js/api'
import ResultList from '~/components/search/list'

export default {
  components: {
    ResultList,
  },

  data: () => ({
    searchResults: [],
    query: null,
  }),

  watch: {
    query(value) {
      if (value.length >= 3) {
        this.search()
      }
    },
  },

  created() {
    const self = this

    this.search = _.debounce(() => {
      Api.searchUser(self.query).then(({ data: { data } }) => {
        self.searchResults = data
      })
    }, 500)
  },
}
</script>
