<template>
  <div class="example">
    <div class="example__item">
      Cores
      <div class="tools__container--row">
        <div class="color color--turquoise">turquoise</div>
        <div class="color color--dark-turquoise">dark-turquoise</div>
        <div class="color color--light-turquoise">light-turquoise</div>
        <div class="color color--cerise-red">cerise-red</div>
      </div>

      <div class="tools__container--row">
        <div class="color color--mint">mint</div>
        <div class="color color--dark-mint">dark-mint</div>
        <div class="color color--brick">brick</div>
        <div class="color color--yellow-sun">yellow-sun</div>
      </div>

      <div class="tools__container--row">
        <div class="color color--black">black</div>
        <div class="color color--black-gray">black-gray</div>
        <div class="color color--galaxy-gray">galaxy-gray</div>
        <div class="color color--dark-gray">dark-gray</div>
        <div class="color color--space-gray">space-gray</div>
        <div class="color color--star-gray">star-gray</div>
        <div class="color color--chrome-gray">chrome-gray</div>
        <div class="color color--silver-gray">silver-gray</div>
        <div class="color color--light-gray">light-gray</div>
        <div class="color color--lightest-gray">lightest-gray</div>
        <div class="color color--white">white</div>
      </div>

      <div class="tools__container--row">
        <div class="color color--primary-success">primary-success</div>
        <div class="color color--secondary-success">secondary-success</div>
        <div class="color color--primary-error">primary-error</div>
        <div class="color color--secondary-error">secondary-error</div>
        <div class="color color--primary-warning">primary-warning</div>
        <div class="color color--secondary-warning">secondary-warning</div>
      </div>
    </div>

    <div class="example__item">
      Alertas
      <div class="example__item">
        <alert type="error" message="Deu pau"/>
      </div>


      <div class="example__item">
        <alert type="warning" message="Cuidado"/>
      </div>

      <div class="example__item">
        <alert type="success" message="Sucesso"/>
      </div>
    </div>
  </div>
</template>

<script>
import Alert from '~/components/alert'

export default {
  components: {
    Alert,
  },
}
</script>
