<template>
  <div>
    <chat-header/>
    <div class="home__container tools__container--row">
      <div class="home__container__item">
        <div class="home__user__search__toggler" @click="toggleSearch">
          {{ newChatButton }}
        </div>
        <user-search v-if="search"/>
        <conversation-list v-else/>
      </div>

      <chat/>
    </div>
  </div>
</template>

<script>
import ChatHeader from '~/components/header'
import ConversationList from '~/components/conversation/list'
import Chat from '~/components/chat/chat'
import UserSearch from '~/components/search/user'
import { mapActions, mapGetters } from 'vuex'

export default {
  middleware: ['authenticated', 'socketConnector'],

  components: {
    ChatHeader,
    ConversationList,
    Chat,
    UserSearch,
  },

  computed: {
    ...mapGetters('search', ['search']),

    newChatButton() {
      if (this.search) return 'Voltar'
      return '+'
    },
  },

  methods: {
    ...mapActions('search', ['toggleSearch']),
  },
}
</script>
