<template>
  <div class="login__container">
    <div class="login__card">
      <div class="login__card__item">
        Chatty
      </div>

      <div v-if="errorMessage" class="login__card__item">
        <alert :message="errorMessage" type="error"/>
      </div>

      <div class="login__card__item">
        <div class="login__label">Usuário</div>
        <input v-model="username" type="text" placeholder="Usuário" class="login__input" required>
      </div>

      <div class="login__card__item">
        <div class="login__label">Senha</div>
        <input v-model="password" type="password" class="login__input" required @keyup.enter="login">
      </div>

      <div class="login__card__item">
        <button type="submit" class="login__button" @click="login">Login</button>
      </div>
    </div>
  </div>
</template>

<script>
import Api from '~/assets/js/api'
import Hasher from '~/assets/js/hasher'
import Alert from '~/components/alert'

import { mapActions, mapMutations } from 'vuex'

export default {
  middleware: 'notAuthenticated',

  components: {
    Alert,
  },

  data: () => ({
    username: null,
    password: null,
    errorMessage: '',
  }),

  computed: {
    passwordHash() {
      return Hasher.hash(this.password)
    },

    validArgs() {
      if (!this.username || this.username === '') return false
      if (!this.password || this.password === '') return false

      return true
    },
  },

  methods: {
    ...mapActions('auth', ['updateToken']),
    ...mapMutations('user', ['setUsername']),

    login() {
      if (!this.validArgs) return

      Api.login(this.username.trim(), this.passwordHash)
        .then(this.authenticate)
        .catch(this.register)
    },

    register() {
      if (!this.validArgs) return

      Api.register(this.username.trim(), this.passwordHash)
        .then(this.authenticate)
        .catch(this.showError)
    },

    authenticate({ data: { token } }) {
      this.updateToken(token)
      this.setUsername(this.username.trim())
      this.$router.push('/')
    },

    showError({ response: { data } }) {
      const message = data.message
      this.errorMessage = message
    },
  },
}
</script>
