<template>
  <div :class="itemClass" class="conversation__item" @click="loadChat(data.id)">
    <div class="conversation__item__avatar">
      <avatar/>
    </div>

    <div class="conversation__item__content">
      <div class="conversation__item__username">{{ data.username }}</div>
      <div class="conversation__item__preview">{{ data.preview }}</div>
    </div>
  </div>
</template>

<script>
import Avatar from '~/components/avatar'
import { mapActions, mapGetters } from 'vuex'

export default {
  components: {
    Avatar,
  },

  props: {
    data: {
      type: Object,
      required: true,
    },
  },

  computed: {
    isSelected() {
      return this.data.id === this.selectedChat().id
    },

    hasUnreadMessages() {
      return this.data.hasUnreadMessages
    },

    selectedClass() {
      if (this.isSelected) {
        return 'conversation__item--active'
      }

      return ''
    },

    unreadClass() {
      if (this.hasUnreadMessages) {
        return 'conversation__item--unread'
      }

      return ''
    },

    itemClass() {
      return [this.selectedClass, this.unreadClass].join(' ')
    },
  },

  methods: {
    ...mapGetters('chat', ['selectedChat']),
    ...mapActions('chat', ['loadChat']),
  },
}
</script>
