<template>
  <div class="conversation__list__container">
    <item v-for="chat in chatList" :key="chat.id" :data="chat"/>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import Item from '~/components/conversation/item'

export default {
  components: {
    Item,
  },

  computed: {
    ...mapState('chat', ['chatList']),
  },

  mounted() {
    this.loadChats()
  },

  methods: {
    ...mapActions('chat', ['loadChats']),
  },
}
</script>
